h1{
    color: darkorange;
    text-decoration: rgb(209, 145, 6) underline wavy ;
    text-align: center;
    background-color: cornsilk;
    letter-spacing: 20px;
    font-weight: 500;
    line-height: normal;
    font-size: 70px;
    text-transform: uppercase;
    font-family: monospace,Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(255, 255, 226);
}

p{
    text-align: justify;
}
footer{
    background-color: rgb(255, 222, 131);
    text-align: right;
}
a{
    text-decoration: none;
}
